.checkout-form {
  display: flex;
  flex-wrap: wrap;
}

.checkout-form-customer {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 3em;
  margin: 1em 1em 0 0;
  border: 1px solid black;
}

.checkout-form__header {
  display: flex;
  justify-content: space-around;
}

.checkout-form-customer__avatar {
  width: 20%;
}

.checkout-form-customer__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-form-movie {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 3em;
  margin-top: 1em;
  border: 1px solid black;
}

.checkout-form-movie__avatar {
  width: 20%;
}

.checkout-form-movie__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-form__button {
  text-decoration: none;
  font-size: 1em;
  color: #222;
  background-color: #fff;
  padding: .5em;
  margin-right: 1em;
  border: 1px solid #222;
}

.checkout-form__button:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
}