.customer-card-container {
  margin: 5px;
}

h3 {
  color: black;
}

.customer-card {
  margin: 10px;
  align-items: left;
}

.img-thumbnail{
}
.customer-name{
  grid-column-start: 1;
  text-align: left;
  color: black;
}

.customer-name h3 {
  color: black
}

.customer-info{
  grid-column-start: 1;
  grid-row-start: 3;
  text-align: left;
}

.customer-select-button{
  grid-column-start: 1;
  grid-row-start: 4;
  text-align: left;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style-type: none;
}