.cards {
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.card {
  width: flex;
  margin-top: 2rem;
  align-items: stretch;
  min-width: 10rem;
}

.card-deck .customer-card.card {
  flex: auto;
  justify-content: space-evenly;
  margin: 2vw;
}

body {
  color: #151547;
}

p {
  color: #151547;
}

Button {
  background-color: #151547;
  outline: !important none;
  border-style: none;
}

.button-box-container {
  padding: 0px;
  margin: 0px;
  margin-right: 0px;
  justify-content: space-evenly;
}

.button-box {
  text-align:left;
  margin-bottom: 1rem;
  margin-right: 0px;
  margin: 0px;
}

.button-grad {
  background-image: linear-gradient(to right, #41295a 0%, #2F0743 51%, #41295a 100%);
  outline: none !important;
  box-shadow: none !important;
  font-family: -apple-system, Roboto,'Open Sans'sans-serif;
}

.button-grad:hover { 
  background-position: right center;
  outline: none !important;
  box-shadow: none !important;
}

.right-button {
  float:right;
  margin-bottom: 1rem;
  outline: !important none;
}

button:focus {
  box-shadow: none;
  outline: none
}

p.card-text {
  padding: 0px;
}