.customer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customer-list-item {
  display: flex;
  justify-content: space-between;
  width: 43%;
  padding: 2em;
  margin-top: 1.5em;
  border: 3px solid black;
}

.customer-list-item:nth-child(odd) {
  margin-right: 1em;
}

.customer-list-item__avatar {
  width: 25%;
}

.customer-list-item__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customer-profile {
  padding: 1em;
}

/* BUTTONS */

.customer-button {
  width: 100px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  color: #222;
  background-color: #fff;
  padding: 1em;
  border: 1px solid #222;
}

.customer-button:hover {
  background-color: #222;
  color: #fff;
  border: 1px solid #fff;
}

.button-primary {
  color: #000;
  background-color: #03CEA4;
}