.customer-list {
  display: flex;
  flex-wrap: wrap;
}

.customer-list-item {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 3em;
  margin-top: 1em;
  border: 1px solid black;
}

.customer-list-item:nth-child(odd) {
  margin-right: 1em;
}

.customer-list-item__avatar {
  width: 70px;
}

.customer-list-item__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}