.customer-list {
  display: flex;
  flex-wrap: wrap;
}

.customer-list-item {
  display: flex;
  justify-content: space-between;
  width: 40%;
  padding: 50px;
  border: 1px solid black;
}

.customer-list-item__avatar {
  width: 70px;
}

.customer-list-item__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}