@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat&family=Raleway&display=swap');


.search-container {
  padding: 3rem 1rem;
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Cairo', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

.search-container > * {
  margin: 2rem;
}