.cards {
  margin-bottom: 1rem;
}

.card {
  margin-top: 2rem;
  align-items: stretch;
}

.h4-api-card {
  color: 151547;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.333rem;
}

h2 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 2.369rem;
}