h1 {
  color: rgb(3, 3, 0);
  padding-top: 10px;
  font-size: 70px;
  font-weight: bold;
  -webkit-text-stroke: .02px black;
  font-family: herculanum;
}

.searchbutton {
  color: black;
  position: relative
}

.search-page {
  display: inline-grid;
  grid-template-rows: 0.5fr 1fr;
  align-content: space-between;
  margin-bottom: 100px;
}

.movie-container {
  border-radius: 25px;
  margin: 20px;
  margin-top: 20px;
  display: inline-grid;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-size: 300px auto;
  width: 310px;
  height: auto;
  padding: 20px 5px 20px 5px;
  justify-self: center;
  position: relative;
  background-color: rgb(245, 242, 236);
}

.movie-title {
  font-size: 25px;
  font-style: italic;
  padding: 15px 45px;
  font-weight: 700;
  color: rgb(22, 14, 14);
  text-shadow: 0 3px 2px rgba(0,0,0,0.3);
}

.movie-image {
  width: 25%;
  height: auto;
  margin: auto;
  float: right;
  position: absolute;
  left: 3%;
  top: 20%
}
.movie-overview {
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.movie-button {
  padding: 5px;
  bottom: 0;
}
