.App {
  text-align: center;
}

.container {
  text-align: center;
}

h1 {
  margin-bottom: 1em;
}

input {
  margin-bottom: 2em;
}

/* movies */

.movielist {
  /* center div */
} 

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  margin-bottom: 4em;
  width: 200px;
  padding-bottom: 2.5em;
  text-align: center;
  position: relative;
}

.movie-card button {
  position: absolute;
  bottom:   0;
  right: 40px;
}

.movie-image {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 5px;
  width: 150px;
}

.release-year {
  text-align: center
}
