.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(40, 218, 188);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
.nav a:hover {
  background-color: #f719d5;
}
.nav a {
  text-decoration: none;
  display: block;
  transition: .3s background-color;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
