.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.navbar-dark .navbar-brand {
  font-size: 1.5em;
  color: #1af6eb;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color: #0B132B !important;
}

.navbar-custom {
  background-color: #0B132B !important;
}

.card-body {
  background-color: #3A506B;
}

.card-title {
  color: #ffffff !important;
}

.card-text {
  color: #ffffff;
}

.button {
  background-color: #5BC0BE;
  border: none;
  color: #1C2541;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

