/* color scheme:
  https://coolors.co/e3dcd6-030302-ac9c8a-9a031e-df2935

  {
    "Timberwolf":"e3dcd6",
    "Rich Black FOGRA 39":"030302",
    "Grullo":"ac9c8a",
    "Ruby Red":"9a031e",
    "Rose Madder":"df2935"
  }
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@800&display=swap');


html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  /* background-color: #ac9c8a; */
  color: #030302;
  height: 100%;
  
}
* {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Open Sans', sans-serif;
}

div.home-card img {
  position: sticky;

}


button.btn-danger {
  background-color: #DF2935;
  border-color: #DF2935;
}
button.btn-danger:hover {
  background-color: #9A031E;
  border-color: #9A031E;
}

ul.list-group li.active {
  background-color: #DF2935;
  border-color: #DF2935;
}
button.btn-success {
  border-top-left-radius: none;
  border-bottom-left-radius: none;
  background-color: #9A031E;
  border-color: #9A031E;
}
button.btn-success:hover {
  background-color: #DF2935;
  border-color: #DF2935;
}

